html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td{margin:0;padding:0;} body{font:12px  "宋体"; word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0 {border:0;}
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;} 
table{border-collapse:collapse;}
.ind2{text-indent:2em;}


/*设置图片垂直水平居中*/
.valign{text-align:center;}
.valign img{vertical-align:middle;}
.valign:after{content:"";vertical-align:middle;height:100%;display:inline-block;}

.l{float:left;}
.r{float:right;}

/*设置单行文本溢出出现省略号*/
.over {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*清除浮动   解决浮动元素的高度塌陷问题*/
.clear{zoom:1;}/*解决高度塌陷问题 解决IE的兼容问题*/
.clear:after{content:"";clear:both;display:block;}
.clear:before{content:"";display:table;}/*解决第一块元素的子元素使用margin-top:会传递给父元素的问题*/
html,body,#app{
	width:100%;
	height:100%;
}